PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=4kpmqa71zsQHDU8-y6jpm7Yerj9uqV1f
APP_HOSTNAME=localhost:3333
STATIC_APP_HOSTNAME=localhost:3000

COOKIE_DOMAIN=localhost

DRIVE_DISK=local
SESSION_DRIVER=cookie

DB_CONNECTION=mysql
MYSQL_DATABASE=arkora
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=dev
MYSQL_PASSWORD=password

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
CACHE_VIEWS=false
