@import url('./fonts/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #352c98;
  background: #dfddf5;
}

#root,
html,
body {
  @apply min-h-full h-full w-full bg-gray-20 font-inter;
}

.scrollbar-hide {
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer base {
  input[type='time']::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}
