@import url('./fonts/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #352c98;
  background: #dfddf5;
}

#root,
html,
body {
  @apply min-h-full h-full w-full bg-gray-20 font-inter;
}

.scrollbar-hide {
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer base {
  input[type='time']::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    appearance: none;
    -moz-appearance: textfield;
  }

  .checkbox {
    @apply bg-no-repeat bg-center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' stroke=%27white%27 fill=%27none%27 stroke-linecap='round' stroke-linejoin='round'%3e%3cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3e%3cpath d='M5 12l5 5l10 -10' /%3e%3c/svg%3e");
  }
}
