/* IstokWeb */

@font-face {
  font-family: 'IstokWeb';
  font-style: normal;
  font-weight: 400;
  src: url('./../../assets/fonts/IstokWeb-Regular.woff2') format('woff2');
}

/* Inter */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./../../assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./../../assets/fonts/Inter-Medium.woff') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./../../assets/fonts/Inter-SemiBold.woff2') format('woff2');
}
