<mj-section>
  <mj-column>
    <mj-text mj-class="primary" font-size="32px" font-weight="700">Arkora</mj-text>
    <mj-text color="#9AA3B2" font-size="14px" font-weight="600">TIME TRACKING</mj-text>
    <mj-divider border-width="1px" border-color="#DADFE7" padding="0px" padding-top="16px" />
  </mj-column>
</mj-section>